<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" 
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<title>SPS</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link href="css/layout.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="icon" type="image/png" sizes="32x32" href="https://www.imagehandler.net/?iset=0108&img=A1004701000&fmt=png&w=50&h=50&iindex=0063&c=999&cmp=85&retblank=1x1"/>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/backgrounds/01.jpg');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left" >
        <td width="20" align="left">
        <a th:href="@{/index}" title="summarise application"><img src="images/backgrounds/SPS.png" width="200" height="70" border="30" /></a>
        </td>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a th:href="@{/index}">Accueil</a></li>
          <li><a class="drop" href="#">Pages</a>
            <ul>
              <li><a th:href="@{/gallery}">Gallery</a></li>
            </ul>
          </li>
          <li><a th:href="@{/logIn}">Se Connecter</a></li>
          <li><a th:href="@{/signIn}">S'inscrire</a></li>
          <li><a th:href="@{/espaceManager}">Espace Manager</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides clear">
        <li>
          <article>
            <p>SPS: cherche la peur pour la dominer</p>
            <h2 class="heading">Sport..Pour..Santé</h2>
            <footer>
              <ul class="nospace inline pushright">
                <li><a class="btn" th:href="@{/signIn}">S'inscrire</a></li>
                
              </ul>
            </footer>
          </article>
        </li>
        <li>
          <article>
            <p>SPS: cherche la fatigue pour en triompher</p>
            <h2 class="heading">Sport..Pour..Santé</h2>
            <footer>
              <ul class="nospace inline pushright">
                <li><a class="btn" th:href="@{/signIn}">S'inscrire</a></li>
                
              </ul>
            </footer>
          </article>
        </li>
        <li>
          <article>
            <p>SPS: cherche la difficulté pour la vaincre</p>
            <h2 class="heading">Sport..Pour..Santé</h2>
            <footer>
              <ul class="nospace inline pushright">
                <li><a class="btn" th:href="@{/signIn}">S'inscrire</a></li>
              </ul>
            </footer>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_half first">
        <h6 class="heading font-x3">Pourquoi SPS ?!</h6>
        <p>Vous voulez garder la ligne et rester zen en faisnt de belle rencontre...SPS est la solution, c'est trés un bon moyen pour vous libérez de vos problèmes physiquement et mentalement, et aussi pour vous vider la tête et de lutter contre la fatigue physique. 
<br/>SPS est un endroit agréable où vous êtes entouré de personnes qui ont un point commun incontestable avec vous : l’envie de faire du sport. 
<br/>SPS met à votre disposition un ensemble de machines adapté pour chaque partie du corps et pour le cardio-training. De cette façon, vous pouvez diversifier facilement les exercices et il y en a assez pour tout le monde.
</p>
        <p>Bref, s'inscrire dans notre club SPS ... rien de plus simple!!</p>
      </div>
      <div class="one_half"><a href="#"><img src="images/480x360.jpg" alt=""></a></div>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <article class="one_third first">
      <footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>
      <h6 class="heading font-x1">Le sport prévient les maladies et problèmes de santé</h6>
      <p class="btmspace-30">Il stimule les lipoprotéines de haute densité (HDL) et diminue le niveau de triglycéride, constituant principal des graisses. L’activité physique améliore la circulation sanguine, réduisant ainsi le risque de maladies cardiaques.</p>
      <a href="#"><img src="images/a.png" alt=""></a></article>
    <article class="one_third">
      <footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>
      <h6 class="heading font-x1">Le sport augmente votre niveau d’énergie</h6>
      <p class="btmspace-30">Il renforce vos muscles et améliore votre endurance. Grâce au sport, vous oxygénez davantage vos muscles et votre cœur, ce qui permet à votre système cardiovasculaire de travailler plus efficacement. Et, si votre cœur et vos poumons fonctionnent mieux, vous aurez davantage d’énergie.</p>
      <a href="#"><img src="images/b.png" alt=""></a></article>
    <article class="one_third">
      <footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>
      <h6 class="heading font-x1">le sport rend plus heureux et plus calme</h6>
      <p class="btmspace-30">L’exercice rend de bonne humeur, En outre, le sport influence positivement la confiance en soi. Ainsi, si vous vous entraînez régulièrement, vous vous sentirez mieux dans votre corps, mais aussi dans votre tête.</p>
      <a href="#"><img src="images/c.png" alt=""></a></article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-image:url('images/backgrounds/02.jpg');">
  <section id="callback" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="one_half first">
      <div class="inspace-30 row3">
        <h6 class="heading">vos questions et vos commentaires seront les bienvenue :) </h6>
        <form method="post" action="#">
          <fieldset>
            <input type="text" value="" placeholder="Nom">
            <input type="text" value="" placeholder="Email">
            <button type="submit" value="submit">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('images/backgrounds/03.jpg');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">SPS</h6>
      <nav>
        <ul class="nospace">
          <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <p>Vous pouvez nous contacter:</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Notre adresse </h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Il Irfan, Avenue Allal lfassi; Rabat, Morocco
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> SportPourSante@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Contexte</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">25/05/2018</time>
            <p class="nospace">SPS: le Sport Pour la Santé est notre projet pour la matière  (), encadrer par notre prof M.Dahchour</p>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">24-05-2018 à l'INPT</p>
    <p class="fl_right">SPS est une application crée par <a target="_blank" href="#" title="deux ingénieurs WMD">Laila MADANI et Chaimae OILD HAMMOU</a> encadré par M.DAHCHOUR</p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.backtotop.js"></script>
<script src="js/jquery.mobilemenu.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
</body>
</html>